<div
    *ngrxLet="exchange$ as exchange"
    class="d-flex flex-md-row flex-column gap-md-0 gap-4 justify-content-md-around align-items-center mb-md-5 mb-4">
    <h2 class="mb-0 fw-normal flex-grow-1">{{exchange?.title}}</h2>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a
                class="nav-link"
                [routerLink]="['/hub/exchanges', exchange!._id, 'summary']"
                routerLinkActive="active"
                >Resumen</a
            >
        </li>
        <li class="nav-item">
            <a
                class="nav-link"
                [routerLink]="['/hub/exchanges', exchange!._id, 'self']"
                routerLinkActive="active"
                >Mi wishlist</a
            >
        </li>
        <li *ngIf="exchange?.drawnOn" class="nav-item">
            <a
                class="nav-link"
                [routerLink]="['/hub/exchanges', exchange!._id, 'giftee']"
                routerLinkActive="active"
                >Mi destinatario</a
            >
        </li>
    </ul>
</div>
<router-outlet></router-outlet>
